*{
  margin: 0;
  padding: 0;
}

/* Navbar */
nav{
  top: 0;
  position:fixed;
  width:100%;
  display:flex;
  background-color: black;
  justify-content: space-between;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  color: white;
}
.leftnav{
  margin-left: 12px;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 0 12px;
}
.logo img{
  height: 40px;
  padding: 0 0px;
}
.leftnav ul li{
  padding: 0 12px;
}
nav ul li a{
  text-decoration: none;
  color: #ffffff;
}
.rightnav{
  float:right;
  margin-right: 35px;
  margin-top: -5px;
}
.rightnav ul li{
  padding: 0px 4px;
}
.rightnav li button{
  align-items: center;
  color: white;
  width:82px;
  height: 33px;
  border-radius: 10px;
  border: 4px;
  border-style: outset;
  border-color: #eeeeee;
  background-color: #555555;
  cursor: pointer;
}

.section ul{
  display: flex;
  flex-direction: column;
}

.active{
  color:#dddddd;
  text-decoration: underline;
}

/* Home */
.blogcontainer{
  background-color: #2d2d2d;
  color: white;
  margin-top: 60px;
  margin-bottom: 0px;
  min-height: 86vh;
  padding: 20px;
}
.name{
  cursor: pointer;
  margin: 0px 8px;
  margin-bottom: 3px;
}
.topblogs ul{
  display:flex;
  list-style-type: none;
  flex-wrap:wrap;
  padding: 10px 0px;

}
.topblogs h1{
  font-size: 50px;
}
.cover {
  margin: 20px 40px;
  padding: 10px 10px;
  background-color: #191919;
  border-radius: 10px;
  box-shadow: 0.5px 0px grey, -0.5px 0px grey;
  transition: background-color 0.1s ease-in-out 0s;
}
.cover:hover{
  background-color: black;
}
.cover img{
  height: 120px;
  width: 180px;
  margin: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.readMore{
  text-decoration: underline;
  color: #bbbbbb;
  font-size: 15px;
  margin-left: 105px;
}

/* Login and Signup */
@keyframes colour{
  0%{
      background:#3d3d3d;
      color:#3d3d3d;
  }
  40%{
      background:#191919;
      color:#191919;
  }
  60%{
      color:white;
  }
}
@keyframes acolour{
  0%{
      background:#3d3d3d;
      color:#3d3d3d;
  }
  40%{
      background:#191919;
      color:#191919;
  }
  60%{
      color:rgb(192, 192, 192);
  }
}
.outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:93vh;
  padding:25px 25px 20px 20px;
}
.input{
  border-radius: 8px;
  width:250px;
  height:30px;
  padding: 0px 5px;
}
.button{
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  color: black;
  width:150px;
  height: 50px;
  border-radius: 15px;
  border: 4px;
  border-style: outset;
  border-color: #2d2d2d;
  background-color: white;
  cursor: pointer;
}

/* Login */
@keyframes slideleft{
  0%{
      transform:translateX(300px);
  }
  100%{
      ransform:translateX(0px);
  }
}
.innerright{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:400px;
  height:400px;
  background-color: #191919;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  animation-name: colour;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.innerright h3{
  margin:10px 0px;
}
.innerright h3 a{
  color:rgb(192, 192, 192);
  animation-name: acolour;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.mainl{
  background-color: #3d3d3d;
  color:white;
  height: 350px;
  width: 350px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding:30px 30px 20px 30px;
  animation-name: slideleft;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}
.mainl form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}
.sectionl{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.sectionl label{
  padding: 5px 8px;
}


/* Signup */
@keyframes slideright{
  0%{
      transform:translateX(-300px);
  }
  100%{
      ransform:translateX(0px);
  }
}

.innerleft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:400px;
  height:400px;
  background-color: #191919;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  animation-name: colour;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.innerleft h3{
  margin:10px 0px;
}
.innerleft h3 a{
  color:rgb(192, 192, 192);
  animation-name: acolour;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.mains{
  background-color: #3d3d3d;
  color:white;
  height: 350px;
  width: 350px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding:30px 30px 20px 30px;
  animation-name: slideright;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}
.mains form{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}
.sections{
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}
.sections label{
  font-size: 15px;
  padding: 2px 8px;
}

/* Read Blog */
.blogcontents{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blogtitle{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  min-width: 80vw;
  margin: 10px 30px;
  padding: 20px 30px;
}
.blogtitle img{
  width: 85vw;
  /*margin t&b l&r */
  margin: 0px 10px;
  margin-bottom: 25px;
  margin-top: 30px;
}
.blogdesc{
  margin: 0px 30px;
  margin-top: -10px;
}
.load{
  height: 80vh;
}
